.bg-cover {
  background-size: cover !important;
}

.advanced {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  color: #fff;
  box-shadow: none
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #00838f
}